<div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
    <h3>Registration</h3>
    <form (ngSubmit)="saveUser()">
        <div class="inputBox">
            <input class="form-control" id="userId" type="text" name="userId" placeholder="User ID">

            <input class="form-control" id="password" type="password" name="Password" placeholder="Password">
        </div>
        <input type="submit" name="" value="Login">
    </form>
    <a href="#">Forget Password<br> </a>
    <div class="text-center">
        <a href="login" style="color: #59238F;">Login</a>
    </div>
</div>